openapi: 3.1.0
info:
  contact:
    email: hello@tower.dev
    name: Tower Computing GmbH
    url: https://tower.dev
  description: REST API to interact with Tower Services.
  termsOfService: https://tower.dev/terms
  title: Tower Accounts User API
  version: v0.11.16
servers:
- url: https://api.tower.dev/v1
tags:
- name: User
paths:
  /user:
    put:
      description: Updates your current user profile.
      operationId: update-user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateUserResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth:
        - session
      - APIKeyAuth:
        - session
      summary: Update user profile
      tags:
      - User
  /user/auth-context:
    get:
      description: This API endpoint returns information about the current authentication context for the user that's used for various internal processes in Tower UI.
      operationId: describe-authentication-context
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeAuthenticationContextBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth:
        - session
      - APIKeyAuth:
        - session
      summary: Describe authentication context
      tags:
      - User
  /user/email-preferences:
    get:
      description: Describes the current user's email preferences.
      operationId: describe-email-preferences
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeEmailPreferencesBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth:
        - session
      - APIKeyAuth:
        - session
      summary: Describe email preferences
      tags:
      - User
    put:
      description: Updates the set of email preferences the current user has. If a partial set of preferences is submitted, it will be updated accordingly.
      operationId: update-email-preferences
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEmailPreferencesBody'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateEmailPreferencesBody'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth:
        - session
      - APIKeyAuth:
        - session
      summary: Update email preferences
      tags:
      - User
components:
  schemas:
    UpdateEmailPreferencesBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/UpdateEmailPreferencesBody.json
          format: uri
          readOnly: true
          type: string
        subscriptions:
          $ref: '#/components/schemas/EmailSubscriptions'
      required:
      - subscriptions
      type: object
    EmailSubscriptions:
      additionalProperties: false
      properties:
        feature_updates:
          type: boolean
        marketing_emails:
          type: boolean
        tower_newsletter:
          type: boolean
      type: object
    AuthenticationContext:
      additionalProperties: false
      properties:
        work_os_access_token:
          description: The WorkOS access token for SSO authentication.
          type: string
      required:
      - work_os_access_token
      type: object
    UpdateUserParams:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/UpdateUserParams.json
          format: uri
          readOnly: true
          type: string
        company:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        first_name:
          type:
          - string
          - 'null'
        is_alerts_enabled:
          type:
          - boolean
          - 'null'
        is_subscribed_to_changelog:
          description: If true, the user will receive changelog updates via email.
          type:
          - boolean
          - 'null'
        is_subscribed_to_marketing_emails:
          description: If true, the user will receive marketing emails from Tower.
          type:
          - boolean
          - 'null'
        is_subscribed_to_newsletter:
          description: If true, the user will receive the Tower newsletter.
          type:
          - boolean
          - 'null'
        last_name:
          type:
          - string
          - 'null'
        password:
          type:
          - string
          - 'null'
        promo_code:
          type:
          - string
          - 'null'
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
    DescribeAuthenticationContextBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/DescribeAuthenticationContextBody.json
          format: uri
          readOnly: true
          type: string
        authentication_context:
          $ref: '#/components/schemas/AuthenticationContext'
      required:
      - authentication_context
      type: object
    UpdateUserResponse:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/UpdateUserResponse.json
          format: uri
          readOnly: true
          type: string
        user:
          $ref: '#/components/schemas/User'
      required:
      - user
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    DescribeEmailPreferencesBody:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/DescribeEmailPreferencesBody.json
          format: uri
          readOnly: true
          type: string
        subscriptions:
          $ref: '#/components/schemas/EmailSubscriptions'
      required:
      - subscriptions
      type: object
    User:
      additionalProperties: false
      properties:
        company:
          type: string
        country:
          type: string
        created_at:
          format: date-time
          type: string
        email:
          type: string
        first_name:
          type: string
        is_alerts_enabled:
          type: boolean
        is_confirmed:
          type: boolean
        is_invitation_claimed:
          deprecated: true
          description: This property is deprecated. It will be removed in a future version.
          type: boolean
        is_subscribed_to_changelog:
          type: boolean
        last_name:
          type: string
        profile_photo_url:
          type: string
        promo_code:
          type: string
      required:
      - first_name
      - last_name
      - company
      - country
      - promo_code
      - email
      - profile_photo_url
      - created_at
      - is_alerts_enabled
      - is_confirmed
      - is_subscribed_to_changelog
      type: object
  securitySchemes:
    APIKeyAuth:
      description: API key created by a Tower user or Tower service account to authenticate an API request.
      in: header
      name: X-API-Key
      type: apiKey
    AccessTokenAuth:
      description: Access token authentication scheme which uses an access token provided by the Tower API as part of a Tower session (see documentation about creating sessions).
      scheme: Bearer
      type: http
