openapi: 3.1.0
info:
  contact:
    email: hello@tower.dev
    name: Tower Computing GmbH
    url: https://tower.dev
  description: REST API to interact with Tower Services.
  termsOfService: https://tower.dev/terms
  title: Tower Accounts Team Invites API
  version: v0.11.16
servers:
- url: https://api.tower.dev/v1
tags:
- name: Team Invites
paths:
  /team-invites:
    get:
      description: List your pending invitations for teams
      operationId: list-my-team-invitations
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMyTeamInvitationsResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth:
        - users:me
      - APIKeyAuth:
        - users:me
      summary: List my team invitations
      tags:
      - Team Invites
    put:
      description: Update a team invitation that you have pending
      operationId: update-my-team-invitation
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMyTeamInvitationParams'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMyTeamInvitationResponse'
          description: OK
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Not Found
        '422':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Unprocessable Entity
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Internal Server Error
      security:
      - AccessTokenAuth:
        - users:me
      - APIKeyAuth:
        - users:me
      summary: Update my team invitation
      tags:
      - Team Invites
components:
  schemas:
    TeamInvitation:
      additionalProperties: false
      properties:
        email:
          type: string
        invitation_sent_at:
          format: date-time
          type: string
        role:
          type: string
        team:
          $ref: '#/components/schemas/Team'
      required:
      - team
      - email
      - invitation_sent_at
      - role
      type: object
    UpdateMyTeamInvitationResponse:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/UpdateMyTeamInvitationResponse.json
          format: uri
          readOnly: true
          type: string
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
    Team:
      additionalProperties: false
      properties:
        execution_region:
          type: string
        name:
          type: string
        organization:
          description: The name of the organization this team belongs to.
          type: string
        slug:
          deprecated: true
          description: This property is deprecated. Use name instead.
          type: string
        token:
          $ref: '#/components/schemas/Token'
        type:
          description: The type of team, either 'personal' or 'team'.
          type: string
      required:
      - name
      - type
      - organization
      - execution_region
      type: object
    ListMyTeamInvitationsResponse:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/ListMyTeamInvitationsResponse.json
          format: uri
          readOnly: true
          type: string
        team_invitations:
          description: All of team invitations
          items:
            $ref: '#/components/schemas/TeamInvitation'
          type: array
      required:
      - team_invitations
      type: object
    Token:
      additionalProperties: false
      properties:
        access_token:
          description: The access token to use when authenticating API requests with Tower.
          type: string
        jwt:
          type: string
        refresh_token:
          description: The refresh token to use when refreshing an expired access token. For security reasons, refresh tokens should only be transmitted over secure channels and never logged or stored in plaintext. It will only be returned upon initial authentication or when explicitly refreshing the access token.
          type: string
      required:
      - access_token
      - jwt
      type: object
    UpdateMyTeamInvitationParams:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/UpdateMyTeamInvitationParams.json
          format: uri
          readOnly: true
          type: string
        accepted:
          description: Whether or not the invitation was accepted. If false, it's considered rejected.
          type: boolean
        name:
          description: The name of the team invitation to update
          type: string
      required:
      - name
      - accepted
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
  securitySchemes:
    APIKeyAuth:
      description: API key created by a Tower user or Tower service account to authenticate an API request.
      in: header
      name: X-API-Key
      type: apiKey
    AccessTokenAuth:
      description: Access token authentication scheme which uses an access token provided by the Tower API as part of a Tower session (see documentation about creating sessions).
      scheme: Bearer
      type: http
