openapi: 3.1.0
info:
  contact:
    email: hello@tower.dev
    name: Tower Computing GmbH
    url: https://tower.dev
  description: REST API to interact with Tower Services.
  termsOfService: https://tower.dev/terms
  title: Tower Accounts Plan API
  version: v0.11.16
servers:
- url: https://api.tower.dev/v1
tags:
- name: Plan
paths:
  /plan:
    get:
      description: Get the current plan for the account.
      operationId: describe-plan
      parameters:
      - description: The page number to fetch.
        explode: false
        in: query
        name: page
        schema:
          default: 1
          description: The page number to fetch.
          format: int64
          type: integer
      - description: The number of records to fetch on each page.
        explode: false
        in: query
        name: page_size
        schema:
          default: 20
          description: The number of records to fetch on each page.
          format: int64
          type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribePlanResponse'
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth: []
      - APIKeyAuth: []
      summary: Describe plan
      tags:
      - Plan
    put:
      operationId: update-plan
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePlanParams'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePlanResponse'
          description: Created
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth: []
      - APIKeyAuth: []
      summary: Update plan
      tags:
      - Plan
components:
  schemas:
    Plan:
      additionalProperties: false
      properties:
        base_plan_name:
          type: string
        created_at:
          format: date-time
          type: string
        end_at:
          format: date-time
          type: string
        extras:
          items:
            $ref: '#/components/schemas/Feature'
          type: array
        features:
          items:
            $ref: '#/components/schemas/Feature'
          type: array
        id:
          type: string
        start_at:
          format: date-time
          type: string
      required:
      - id
      - base_plan_name
      - start_at
      - created_at
      - features
      type: object
    UpdatePlanResponse:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/UpdatePlanResponse.json
          format: uri
          readOnly: true
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
      required:
      - plan
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
    DescribePlanResponse:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/DescribePlanResponse.json
          format: uri
          readOnly: true
          type: string
        plan:
          $ref: '#/components/schemas/Plan'
      required:
      - plan
      type: object
    UpdatePlanParams:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/UpdatePlanParams.json
          format: uri
          readOnly: true
          type: string
        base_plan_name:
          description: The name of the base plan to use.
          type: string
      required:
      - base_plan_name
      type: object
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    Feature:
      additionalProperties: false
      properties:
        code:
          type: string
        name:
          type: string
        type:
          type: string
        value:
          format: int64
          type: integer
      required:
      - code
      - name
      - type
      - value
      type: object
  securitySchemes:
    APIKeyAuth:
      description: API key created by a Tower user or Tower service account to authenticate an API request.
      in: header
      name: X-API-Key
      type: apiKey
    AccessTokenAuth:
      description: Access token authentication scheme which uses an access token provided by the Tower API as part of a Tower session (see documentation about creating sessions).
      scheme: Bearer
      type: http
