openapi: 3.1.0
info:
  contact:
    email: hello@tower.dev
    name: Tower Computing GmbH
    url: https://tower.dev
  description: REST API to interact with Tower Services.
  termsOfService: https://tower.dev/terms
  title: Tower Accounts Shouldertaps API
  version: v0.11.16
servers:
- url: https://api.tower.dev/v1
tags:
- name: Shouldertaps
paths:
  /shouldertaps/stream:
    get:
      description: Stream events over SSE that notify you of potential data staleness
      operationId: stream-shouldertaps
      responses:
        '200':
          content:
            text/event-stream:
              schema:
                description: Each oneOf object in the array represents one possible Server Sent Events (SSE) message, serialized as UTF-8 text according to the SSE specification.
                items:
                  oneOf:
                  - properties:
                      data:
                        $ref: '#/components/schemas/ShoulderTap'
                      event:
                        const: shouldertap
                        description: The event name.
                        type: string
                      id:
                        description: The event ID.
                        type: integer
                      retry:
                        description: The retry time in milliseconds.
                        type: integer
                    required:
                    - data
                    - event
                    title: Event shouldertap
                    type: object
                  - properties:
                      data:
                        $ref: '#/components/schemas/SSEWarning'
                      event:
                        const: warning
                        description: The event name.
                        type: string
                      id:
                        description: The event ID.
                        type: integer
                      retry:
                        description: The retry time in milliseconds.
                        type: integer
                    required:
                    - data
                    - event
                    title: Event warning
                    type: object
                title: Server Sent Events
                type: array
          description: OK
        default:
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ErrorModel'
          description: Error
      security:
      - AccessTokenAuth: []
      - APIKeyAuth: []
      summary: Stream shouldertaps
      tags:
      - Shouldertaps
components:
  schemas:
    ErrorDetail:
      additionalProperties: false
      properties:
        location:
          description: Where the error occurred, e.g. 'body.items[3].tags' or 'path.thing-id'
          type: string
        message:
          description: Error message text
          type: string
        value:
          description: The value at the given location
      type: object
    ShoulderTap:
      additionalProperties: false
      properties:
        account_id:
          description: Account ID that owns the resource.
          type: string
        event_type:
          description: Event type in format resource.changed (e.g., apps.changed, runs.changed).
          type: string
        resource_id:
          description: Unique identifier of the resource.
          type: string
        resource_type:
          description: Type of resource (apps, runs, schedules, secrets, environments, catalogs).
          type: string
        timestamp:
          description: Timestamp when the event occurred.
          format: date-time
          type: string
      required:
      - event_type
      - resource_type
      - resource_id
      - timestamp
      - account_id
      type: object
    ErrorModel:
      additionalProperties: false
      properties:
        $schema:
          description: A URL to the JSON Schema for this object.
          examples:
          - https://api.tower.dev/v1/schemas/ErrorModel.json
          format: uri
          readOnly: true
          type: string
        detail:
          description: A human-readable explanation specific to this occurrence of the problem.
          examples:
          - Property foo is required but is missing.
          type: string
        errors:
          description: Optional list of individual error details
          items:
            $ref: '#/components/schemas/ErrorDetail'
          type: array
        instance:
          description: A URI reference that identifies the specific occurrence of the problem.
          examples:
          - https://example.com/error-log/abc123
          format: uri
          type: string
        status:
          description: HTTP status code
          examples:
          - 400
          format: int64
          type: integer
        title:
          description: A short, human-readable summary of the problem type. This value should not change between occurrences of the error.
          examples:
          - Bad Request
          type: string
        type:
          default: about:blank
          description: A URI reference to human-readable documentation for the error.
          examples:
          - https://example.com/errors/example
          format: uri
          type: string
      type: object
    SSEWarning:
      additionalProperties: false
      properties:
        content:
          description: Contents of the warning.
          type: string
        end_of_stream:
          description: When true, the server has delivered every log line and is closing the stream; clients should stop and not reconnect.
          type: boolean
        reported_at:
          description: Timestamp of the event.
          format: date-time
          type: string
      required:
      - reported_at
      - content
      type: object
  securitySchemes:
    APIKeyAuth:
      description: API key created by a Tower user or Tower service account to authenticate an API request.
      in: header
      name: X-API-Key
      type: apiKey
    AccessTokenAuth:
      description: Access token authentication scheme which uses an access token provided by the Tower API as part of a Tower session (see documentation about creating sessions).
      scheme: Bearer
      type: http
